<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         metadata-complete="true">

    <servlet>
        <servlet-name>Vaadin</servlet-name>
        <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
        <init-param>
            <param-name>UI</param-name>
            <param-value>org.app.vaadin.MyUI</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Vaadin</servlet-name>
        <url-pattern>/VAADIN/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vaadin</servlet-name>
        <url-pattern>${vaadin.route}/*</url-pattern>
    </servlet-mapping>

    <security-role>
        <role-name>ROLE_EMISSION</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>App Second URLs</web-resource-name>
            <url-pattern>${vaadin.route}/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ROLE_EMISSION</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>