<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         metadata-complete="true">

    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>org.app.login.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/main/*</url-pattern>
    </servlet-mapping>

    <!-- ROLES -->
    <security-role>
        <role-name>ROLE_TERMINAL</role-name>
    </security-role>
    <security-role>
        <role-name>ROLE_EMISSION</role-name>
    </security-role>

    <!-- AUTHENTICATION -->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/error.jsp</form-error-page>
        </form-login-config>
    </login-config>

    <!-- TERMINAL -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>App First URLs</web-resource-name>
            <url-pattern>/app1/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ROLE_TERMINAL</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- EMISSION -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>App Second URLs</web-resource-name>
            <url-pattern>/app2/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ROLE_EMISSION</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- LOGIN MODULE -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>App First URLs</web-resource-name>
            <url-pattern>/main/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ROLE_EMISSION</role-name>
            <role-name>ROLE_TERMINAL</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- ACCESS FOR ALL AUTHORIZED-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Common URLs</web-resource-name>
            <url-pattern>/main</url-pattern>
            <url-pattern>/app1</url-pattern>
            <url-pattern>/app2</url-pattern>
            <url-pattern>main.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ROLE_TERMINAL</role-name>
            <role-name>ROLE_EMISSION</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- WELCOME PAGES -->
    <welcome-file-list>
        <!--<welcome-file>main.jsp</welcome-file>-->
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>